body{
margin:0;
font-family:Arial;
background:#0b5d1e;
color:white;
text-align:center;
}

h1{
font-size:40px;
text-shadow:0 0 15px lime;
}

.container{
display:flex;
flex-direction:column;
align-items:center;
gap:15px;
padding:30px;
}

select{
background:yellow;
font-size:18px;
padding:10px;
border-radius:12px;
border:none;
font-weight:bold;
}

button{
font-size:20px;
padding:15px 30px;
border:none;
border-radius:15px;
cursor:pointer;
font-weight:bold;
transition:0.3s;
}

.generate{
background:red;
color:white;
}

.copy{
background:green;
color:white;
}

button:hover{
transform:scale(1.1);
}

textarea{
width:80%;
height:200px;
border-radius:15px;
padding:15px;
font-size:16px;
}
