body{
margin:0;
background:linear-gradient(180deg,#0b5d1e,#083d14);
color:white;
font-family:'Segoe UI', sans-serif;
cursor:url("https://cdn-icons-png.flaticon.com/512/590/590685.png"), auto;
overflow:hidden;
}

/* ===== TITRE ===== */

h1{
font-size:80px;
text-align:center;
font-weight:bold;
color:white;
animation:glow 2s infinite alternate;
letter-spacing:5px;
margin:0;
padding:30px;
}

@keyframes glow{
from{text-shadow:0 0 10px lime;}
to{text-shadow:0 0 40px yellow;}
}

/* ===== CONTAINER ===== */

.container{
display:flex;
flex-direction:column;
align-items:center;
gap:25px;
}

/* ===== SELECT ===== */

select{
background:yellow;
font-size:28px;
padding:20px;
border-radius:20px;
font-weight:bold;
width:400px;
text-align:center;
}

/* ===== BUTTON ===== */

button{
background:red;
color:white;
font-size:30px;
padding:20px 40px;
border:none;
border-radius:25px;
cursor:pointer;
transition:0.3s;
}

button:hover{
transform:scale(1.1);
}

/* ===== TEXTAREA ===== */

textarea{
width:80%;
height:250px;
font-size:20px;
border-radius:20px;
padding:20px;
}
#three-container {
position: fixed;
top: 0;
left: 0;
z-index: -1;
pointer-events: none;
}
